@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inria Sans', sans-serif;
  background-color: #f7f7f7;
  padding: 0px 50px;
}

.header{
  width: auto;
  border-bottom: 1px solid #021526;
  user-select: none;
}

.title{
  width: fit-content;
  margin: 2rem auto;
}

.title h1{
  color: #3C3D37;
}

.title h1 span:nth-child(1){
  color: #FF8A8A;
}
.title h1 span:nth-child(2){
  color: #F0A8D0;
}
.title h1 span:nth-child(3){
  color: #91DDCF;
}