@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/digital-numbers');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inria Sans', sans-serif;
}

body {
  background-color: #f7f7f7;
}

/* Header */

.header{
  width: auto;
  border-bottom: 2px solid #0215262d;
  user-select: none;
  margin: 0px 50px;
}

.title{
  width: fit-content;
  margin: 2rem auto;
}

.title h1{
  color: #3C3D37;
}

.title h1 span:nth-child(1){
  color: #FF8A8A;
}
.title h1 span:nth-child(2){
  color: #F0A8D0;
}
.title h1 span:nth-child(3){
  color: #6EACDA;
}

button{
  border: none;
  background-color: transparent;
}

/* Container game */

.game-container{
  transition: all .5s ease-in;
  display: block;
  width: fit-content;
  margin: 2rem auto;
}

/* Turns */

.turn__container{
  width: 100%;
  margin: 3rem 0;
}

.turn__list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.turn__item{
  border: 4px solid transparent;
  border-radius: 24px;
  padding: 12px 32px;
  font-size: 2rem;
}

.turn__item.active{
  transition: opacity .5s;
}

.turn__item:not(:nth-child(2)){
  opacity: .2;
}

.turn__item:first-child{
  color: #91DDCF;
  font-weight: bolder;
  border-bottom-color: #91DDCF;
}

.turn__item:last-child{
  color: #FF8A8A;
  font-weight: bolder;
  border-bottom-color: #FF8A8A;
}

.turn__item.active{
  opacity: 1;
}

.game{
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.row-square{
  display: flex;
}

.row-square .button__square{
  padding: 20px;
  font-size: 3.5rem;
  color: #91DDCF;
  user-select: none;
}

.button__square.equis{
  color: #91DDCF;
}
.button__square.circle{
  color: #FF8A8A;
}

.turn__score{
  font-family: 'Digital Numbers', sans-serif;
}

.button__square:focus{
  outline: none;
}

.row-square .button__square span{
  width: 50px;
  height: 70px;
  display: block;
}

.row-square .button__square span.circle::after, .row-square .button__square span.equis::after{
  content: ' ';
}

.row-square .button__square span.circle:hover::after{
  content: 'O';
  color: #FF8A8A;
}

.row-square .button__square span.equis:hover::after{
  content: 'X';
  color: #91DDCF;
}

.row-square:not(:last-child) .button__square{
  border-bottom: 5px solid #6EACDA;
}

.row-square .button__square:nth-child(2){
  border-left: 5px solid #6EACDA;
  border-right: 5px solid #6EACDA;
}

/* Button */

.button__group .button, .modal__container .button__modal{
  border-radius: 24px;
  border: solid 1px #6EACDA;
  color: #6EACDA;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 10px 40px;
  transition: all .2s;
  user-select: none;
}

.button__group .button:hover, .modal__container .button__modal:hover{
  background-color: #6EACDA;
  color: #fff;
}

/* Modal */

.modal__container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.227);
  display: flex;
  justify-content: center;
}

.modal__content{
  position: absolute;
  top: 20%;
  width: 75%;
  height: 20%;
  max-width: 500px;
  min-height: 250px;
  text-align: center;
  align-content: center;
  background: white;
  padding: 10px 20px;
  border: 3px solid #6EACDA;
  border-radius: 50px;
}

.modal__content h2{
  font-size: 2rem;
}

.modal__content p{
  font-size: 1.5rem;
}

.modal__content p span{
  font-weight: bolder;
}

.modal__container.modal-open{
  opacity: 1;
  animation: fadeIn .3s ease-in; 
  visibility: visible;
}


.modal__container.modal-close{
  opacity: 0;
  animation: fadeOut .3s ease-in; 
  visibility: hidden;
}

.modal__container .button__modal{
  margin-top: 1.5rem;
}

@keyframes fadeIn {  
  from {  
    opacity:0;  
    visibility: hidden;
  }  

  to {  
    opacity:1;  
    visibility: visible;
  }  
}

@keyframes fadeOut {  
  from {  
    opacity:1;  
    visibility: visible;
  }  

  to {  
    opacity:0;  
    visibility: hidden;
  }  
}

/* Loading */

.loading{
  filter: blur(5px);
  pointer-events: none;
}

/* Preloader */
.loading__container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #6eacda;
  border-top-color: transparent;
  border-radius: 50%;
}
.loader div {
  animation: loader 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loading-spinner-rolling {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loader {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loader div {
  box-sizing: content-box;
}

@keyframes loader {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}